@page
@model ForgotPassword
@{
    ViewData["Title"] = "Forgot Password";
}

<h1>Forgot Password</h1>


<div class="form-group">
    <input type="text" class="form-control" placeholder="Email">
</div>
<button type="submit" class="btn btn-primary">Send New Password</button>
<a asp-page="/Index" class="btn btn-secondary">Back</a>
