@page
@model Welp.Models.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot Password";
}

<div class="text-center">
    <h2>@ViewData["Title"]</h2>
    <form method="post" asp-controller="ForgotPassword" asp-action="SendResetLink">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <input asp-for="Username" class="form-control shadow" placeholder="User Name" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="form-group">
                <span class="text-danger">@ViewBag.ErrorMessage</span>
            </div>
        }
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Send Me The Password</button>
        </div>
    </form>

    <!-- Back button -->
    <div class="form-group">
        <a href="/Index" class="btn btn-secondary btn-block">Back</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<style>
    .login-form {
        max-width: 300px;
        margin: auto;
    }

    .form-group {
        margin: 15px 0;
    }

    .shadow {
        box-shadow: 2px 2px 5px #aaaaaa;
    }

    .btn {
        margin: 5px 0;
    }

    .text-danger {
        color: red;
    }
</style>