@page
@{
    ViewData["Title"] = "Password Sent";
}

<div class="text-center">
    <h2>Password Sent</h2>
    <p>A new password has been sent to your email address.</p>
    <a href="/Index" class="btn btn-primary">Go to Login</a>
</div>

<style>
    .text-center {
        margin-top: 50px;
    }

    .btn {
        margin-top: 20px;
    }
</style>